<section id="about">
  <div class="image-holder col-lg-6 col-md-6 col-sm-6 col-xs-12 pull-left">
      <div class="background-imgholder">
          <img src="img/1.jpg" alt="about" class="img-responsive" style="display:none;" />
      </div>
  </div>

  <div class="container-fluid">

      <div class="col-md-7 col-md-offset-5 col-sm-8 col-sm-offset-2 col-xs-12 text-inner ">
          <div class="text-block">
              <div class="section-heading">
                  <h1>ABOUT <span>US</span></h1>
                  <p class="subheading">Lorem ipsum dolor sit amet sit legimus copiosae instructior ei ut.</p>
              </div>

              <ul class="aboutul">
                  <li> <i class="fa fa-check"></i>CORR-MET Inspection & Consulting Inc. is a company that provides consulting services specialized in engineering and inspections remotely, or onsite depends on the client’s requirements.</li>
                  <li> <i class="fa fa-check"></i>Our goal is to satisfy our clients with the lowest cost with high-quality results.  </li>
                  <li> <i class="fa fa-check"></i>We have highly skilled and knowledgeable personnel specializing in corrosion, metallurgy, welding and inspection,ready to solve your problems at any time.</li>

              </ul>

              <button type="button" class="btn btn-primary slide">Learn More  <i class="fa fa-caret-right"></i> </button>


          </div>
      </div>
  </div>
</section>
